#form{
    width: 80vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#tableContainer{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    align-content: center;
    width: 60vw;
    height: auto;
}