#alertContainer{
    height: 20vh;
    width: 50vw;
    margin: 50px auto;
    align-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(88, 85, 85, 0.657);
    box-shadow: 1px 1px 2px rgb(86, 84, 84);
}
#title{
    background-color: transparent;
    margin-top: 25px;
    box-shadow: none;
    color: white;

}
#text{
   margin-top: 18px;
   color: white;
}
#bttonAlert{
    text-decoration: none;
    color: white;
    background-color: rgb(19, 123, 164);
}