
table, tr, td, th {
    border-radius: 2px;
    padding: 2px;
    border-spacing: 6px;
    box-shadow: 2px 2px 2px rgb(195, 189, 189);
}

#heads{
    justify-content: center;
    align-items: center;
    text-justify: center;
    box-shadow: none;
    text-transform: uppercase;
}
#table {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}
thead{
    height: auto;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(176, 171, 171);
    box-shadow: 1px 1px 1px black;
    padding: 10px;
    font-size: 25px;
}

tbody{
    height: auto;
    width: 100%;
    text-align: center;
    background-color: rgb(176, 171, 171);
    box-shadow: 1px 1px 1px black;
    padding: 10px;
}
