
table, tr, td, th {
    border-radius: 5px;
    padding: 2px;
    border-spacing: 6px;
    box-shadow: 2px 2px 2px rgb(195, 189, 189);
}

#heads{
    justify-content: center;
    align-items: center;
    text-justify: center;
    box-shadow: none;
    text-transform: uppercase;
    border-radius: 2px;
}
#table {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}
thead{
    height: auto;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(12, 88, 136, 0.753);
    box-shadow: 2px 2px 2px rgb(195, 189, 189);
    padding: 10px;
    font-size: 25px;
}

tbody{
    height: auto;
    width: 100%;
    text-align: center;
    background-color: rgb(188, 184, 184);
    box-shadow: 2px 2px 2px rgb(195, 189, 189);
    padding: 10px;
}
