nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 3%;
    padding-right: 3%;
    font-weight: bold;
}

#navbar{
    background-color: #5490be;
}

#logo{
    color: white;
    font-size: 26px;
}

ul, li{
    display: inline-block;
    padding: 0px 10px;
}

#link{
    color: white;
    text-decoration: none;
}

#search{
    border-radius: 8px;
    padding: 5px;
}

#btnSearch{
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

#pNotifications{
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    /* margin: 10px; */
    background-color: rgb(229, 77, 77);
    align-items: center;
}