body{
    transition: background-color 0.5s ease;
}

.darkMode{
    background-color: #2b2b2b;
    color: #ffffff;
}

.lightMode{
    background-color: #ffffff;
    color: #000000;
}

#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}