#header{
    /* background-color: darkgrey; */
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(204, 161, 8);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

#logo{
    color: steelblue;
    font-size: 30px;
}

ul, li{
    display: inline-block;
    padding: 0px 20px;
}